<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hant</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to photo library is required to select photos for upload to Immich server</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Access to photo library is required to select photos for upload to Immich server</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access is required to detect your WiFi network for automatic server URL selection.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
